/* MOBILE-S */
@media screen and (min-width: 600px) {
    :root {
        --wd-sidebar: 200px;
    }

    .logo-small {
        display: none;
    }

    .logo-large {
        display: inline-block;
    }

    .name-menu-sidebar,
    .name-playlist,
    .new-playlist,
    .title-playlist,
    .btn-app,
    .account-name,
    .title-new-playlist {
        display: inline;
    }

    .divider {
        display: block;
        margin: 10px 0 10px 0;
    }

    .nav-sidebar,
    .account-sidebar,
    .account-bar {
        text-align: left;
    }

    .btn-download,
    .search,
    .home {
        margin-bottom: 0;
    }

    .sidebar {
        font-size: 0.7rem;
        color: #616161;
    }

    .home,
    .search,
    .library {
        vertical-align: middle;
    }

    .name-menu-sidebar {
        vertical-align: middle;
        margin-left: 5px;
    }

    .menu-top li {
        margin-bottom: 10px;
    }

    .title-playlist {
        margin: 20px 20px;
        color: #fff;
    }

    .list-playlist {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .list-playlist li {
        width: 100%;
    }

    .new-playlist {
        color: inherit;
        vertical-align: middle;
    }

    .btn-new-playlist {
        display: inline-block;
        font-size: 2rem;
    }

    .btn-download,
    .account-bar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        gap: 5px;
    }

    .account-name {
        font-weight: 800;
        color: white
    }

    .nav-main {
        font-size: 0.9rem;
        gap: 20px;

    }

    .sound,
    .artist {
        font-size: 0.8rem;
    }

    .song {
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

}


@media screen and (min-width: 645px) {
    .song h5 {
        width: 100%;
    }

}

@media screen and (min-width: 700px) {
    .col {
        width: calc(100% / 4 - 30px / 4);
    }

}

@media screen and (min-width: 858px) {
    .play {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (min-width: 1100px) {
    .col {
        width: calc(100% / 6 - 50px / 6);
    }
}