:root {}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  ;
}

/* UTILITY */

.ht-20 {
  height: 20px;
}

.ht-25 {
  height: 25px;
}

.ht-30 {
  height: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px
}


/* WRAPPER */
.wrapper {
  width: 100%;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 50px;
  flex-shrink: 0;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px;
}

.sidebar ul {
  list-style: none;
}

.name-menu-sidebar,
.name-playlist,
.new-playlist,
.title-playlist,
.btn-app,
.account-name,
.divider {
  display: none;
}

.nav-sidebar {
  text-align: center;
}

.account-sidebar {
  text-align: center;
}

.account-bar {
  text-align: center;
}


.profile-picture {
  background-color: grey;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  background-image: url(../img/profile.svg);


}

/* HEADER */
header {
  height: 80px;
  background-color: #090B12;
  display: flex;
  justify-content: right;
  padding: 5px;
}


.btn-header {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  font-size: 0.7rem;
  font-weight: 500;
}

/* MAIN */

.main-container {
  display: flex;
  height: calc(100% - 80px);
}

.content {
  overflow-y: auto;
  width: calc(100% - 50px);
  background-color: #141922;
}

/* NAV-MAIN */
main {
  padding: 10px;
}

.nav-main {
  display: flex;
  list-style: none;
  font-size: 0.6rem;
  font-weight: 600;
  flex-wrap: wrap;
  gap: 10px;
  color: #75767B;
  justify-content: center;
}

/* FOOTER */
footer {
  height: 80px;
  background-color: #282828;
}