:root {
  --wd-sidebar: 50px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  ;
}

/* UTILITY */
.flex {
  display: flex;
}

.ht-20 {
  height: 20px;
}

.ht-25 {
  height: 25px;
}

.ht-30 {
  height: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px
}

.mb-20 {
  margin-bottom: 20px
}

/* TIPOGRAPHY */

/* WRAPPER */
.wrapper {
  width: 100%;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: var(--wd-sidebar);
  flex-shrink: 0;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
}

.name-menu-sidebar,
.name-playlist,
.new-playlist,
.title-playlist,
.btn-app,
.account-name,
.divider,
.logo-large,
.divider {
  display: none;
}

.nav-sidebar {
  text-align: center;
}

.account-sidebar {
  text-align: center;
}

.account-bar {
  text-align: center;
}


.profile-picture img {
  background-color: grey;
  width: 25px;
  height: 25px;
  border-radius: 50%;



}

/* HEADER */
header {
  height: 80px;
  background-color: #090B12;
  display: flex;
  justify-content: right;
  padding: 5px;
}


.btn-header {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  font-size: 0.7rem;
  font-weight: 500;
}

/* MAIN */

.main-container {
  display: flex;
  height: calc(100% - 60px);
}

.content {
  overflow-y: auto;
  width: calc(100% - var(--wd-sidebar));
  background-color: #141922;
}

/* NAV-MAIN */
main {
  padding: 10px;
}

.nav-main {
  display: flex;
  list-style: none;
  font-size: 0.6rem;
  font-weight: 600;
  flex-wrap: wrap;
  gap: 10px;
  color: #75767B;
  justify-content: center;
}

/* SECTION */

.box-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.col {
  width: calc(100% / 2 - 10px / 2);
  text-align: center;
  color: white;
}

.title-section {
  color: white;
  font-size: 0.8rem;
}

.subtitle-col {
  color: #76797D;
}

.col h4 {
  font-size: 0.8rem;
  margin-top: 10px;
}

.img-circle {
  border-radius: 50%;
}

/* FOOTER */
footer {
  height: 60px;
  background-color: #282828;
}

.action-foot {
  width: 100%;
  padding: 15px 5px 0;
}

.artist,
.sound {
  width: 30%;
  gap: 5px;
}

.play {
  width: 40%;
}



/* ARTIST */

.artist {
  align-items: center;
  font-size: 0.6rem;
}

.song {
  color: white;
  font-size: 0.6rem;
}

.song h6 {
  color: #828282;
}

.action-btn {
  color: #828282;
}

.img-play {
  width: 20px;
  height: 20px;
}

.sound,
.play a {
  color: #fff;
  font-size: 0.5rem;
}

/* PLAY */
.play a {
  font-size: 0.8rem;
}

.play {
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.play-cirle {
  background-color: white;
  height: 22px;
  width: 22px;
  border: 50%;
  display: inline-block;

}

.bar-player {
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.bar-player h6 {
  color: #fff;
}

.btn-player {
  display: flex;
  gap: 15px;
}


/* SOUND */

.sound {
  align-items: center;
}

.bar {
  width: 50%;
  height: 5px;
  border-radius: 10px;
  background-color: #5A5A5A;
}

.slider {
  width: 20%;
  height: 5px;
  border-radius: 10px;
  background-color: #fff;
}