/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* WRAPPER */
.wrapper {
  display: flex;
  width: 100%;
  

  /* debug */
  background-color: yellow;
}

/* HEADER */
header {
  height: 80px;
  flex-shrink: 0;

  /* debug */
  background-color: blue;
}

/* SIDEBAR */
.sidebar {
    width: 100px;
    
    /* debug */
    background-color: red;
}

/* MAIN */
main {
  
  overflow: auto;
  height: calc(100vh - 160px);

  /* debug */
  background-color: green;
}

/* FOOTER */
footer {
  height: 80px;
  flex-shrink: 0;

  /* debug */
  background-color: black;
}

.flex {
    display: flex;
}